*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #ffffff75;
    backdrop-filter: blur(20px);
    animation: slideDown 1.5s ease-out;
    box-shadow: -5px 0 20px #0000003f;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
body{
    width: 100%;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
}
nav{
    display: flex;
    gap: 55em;
    /* justify-content: space-evenly; */
    padding: 25px 3rem;
    justify-content: space-evenly;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #523f7e;
    letter-spacing: 2px;

}
nav h2{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* SECTION STYLING */
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-top: 3rem;
    margin: 0 auto;
}
/* HERO secOne */
    .Hero-secOne h2{
        font-size: 2.8rem;
        line-height: 70px;
    }
    .Hero-secOne h2 span{
        color: rgba(0, 0, 255, 0.767);
        display: inline-block;
        position: relative;
        overflow: hidden;
    }
    .Hero-secOne h2 span::after{
        content: "";
        position: absolute;
        height: 3px;
        max-width: 550px;
        border-radius: 20px;
        width: 100%;
        background:linear-gradient(to top left,rgba(255, 0, 0, 0.486), rgba(0, 0, 255, 0.733));
        bottom: 0;
        left: 0;
    }
    .hero-icons{
        display: flex;
        gap:50px;
        margin: 5vh 0;
    }
    .hero-icons div{
         animation: icon 2s  infinite ease-in-out alternate ;
    }
    .hero-icons div:nth-child(1){
        animation-delay: 0.1s;
    }
    .hero-icons div:nth-child(2){
        animation-delay: 0.2s;
    }
    .hero-icons div:nth-child(3){
        animation-delay: 0.3s;
    }
    .hero-icons div:nth-child(4){
        animation-delay: 0.4s;
    }

    @keyframes icon {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3px);
        }
    }
    .hero-icons a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: white;
        color: var(--dark-color);
        box-shadow: 0 0 15px #00000034;
        transition: var(--transition);
        position: relative;
        overflow: hidden;
        transition: ease 0.5s;
    }
    .hero-icons a::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        background:linear-gradient(90deg, transparent,#ffffff9f,transparent);
        transition: ease 0.5s;
    }
    .hero-icons a:hover::before{
        left: 100%;
    }
    .hero-icons a:hover {
            transform: translateY(-5px) scale(1.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
    .fa-facebook:hover { color: #1877f2; }
    .fa-facebook{color: #1877f2;}
    .fa-square-whatsapp:hover { color: #25d366; }
    .fa-square-whatsapp{color: #25d366;}
    .fa-square-instagram:hover { color: #e4405f; }
    .fa-square-instagram{color: #e440a0;}
    .fa-linkedin:hover { color: #0a66c2; }
    .fa-linkedin{color: #0a66c2;}
/* HERO IMAGE */
    .Hero-secTwo{
        margin-top: 10vh;
        background: #ffffff00;
        border-radius: 20px;
        box-shadow: -3px 5px 30px #0000001c;
        animation: image 2s infinite ease alternate;
    }
    @keyframes image {
        0% {
                transform: translateY(-5px);
            }
            100% {
                
                transform: translateY(0);
            }
    }
    /* HERO DOWNLAOD LINK */
    .Hero-Download a{
        padding: 20px 45px;
        background:linear-gradient(135deg, rgba(36, 36, 211, 0.904),rgba(174, 0, 255, 0.897));
        border-radius: 50px;
        box-shadow: 0 5px 15px rgba(8, 83, 204, 0.4);
        text-decoration: none;
        color: #fff;
        font-style: bold;
        position: relative;
        overflow: hidden;
        left: 50%;
        display: inline-block;
        transition: ease 1.2s;
    }
    .Hero-Download a::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        transition: ease 0.5s;
        background: linear-gradient(90deg, transparent, #ffffff59, transparent);
    }
    .Hero-Download a:hover{
        transform: translateY(-10px) scale(1.05);
         box-shadow: 0 10px 25px rgba(16, 80, 184, 0.829);
    }
    .Hero-Download a:hover::before{
        left: 100%;
    }


/* ===================== ABOUT CSS ===================== */
.Section{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}    
.sectionA{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 2rem;
    gap: 6rem;
    min-height: calc(100vh - 80px);
}
.open{
    animation: modalO 1s ease-in-out;
}

@keyframes modalO {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.tools{
    animation: tool 2s ease-in-out ;
}
@keyframes tool {
    0%{transform: translateX(-40px); opacity: 1;}
    100%{transform: translateX(0); opacity: 1;}

}
.hero-imgA{
   background: linear-gradient(160deg, blueviolet, rgba(0, 0, 255, 0.527)); 
   border-radius: 20px;
   rotate: 5deg;
   position: relative;
   animation: imageA 6s infinite alternate-reverse;
}
@keyframes imageA {
    0%{transform: rotate(5deg) translateY(-10px); box-shadow: 0 0 30px blueviolet;}
    50%{transform: rotate(-5deg) translateX(10px); box-shadow: 0 0 30px rgba(0, 247, 255, 0.274);}
    100%{transform: rotate(-10deg)translateX(-10px); box-shadow: 0 0 20px rgba(0, 0, 0, 0.459)}
}
/* ABOUT STYLING */
.hero-about{
    padding-top: 2rem;
    position: relative;
}
.hero-about h1{
    font-size: 3.5rem;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: #000000c0;
    margin-bottom: 1.5rem;
    position: relative;
}
.hero-about h1::after{
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    bottom: -5px;
    background-color: rgb(17, 0, 255);
    height: 2px;

}
.hero-about h1 span{
    display: inline-block;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(140deg, rgb(146, 85, 202),rgb(38, 0, 255));
    background-clip: text;
    font-size: 5rem;
    color: transparent;
}
.hero-about h1 span::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    background-color: #292929;
    right: -5px;
    border-radius: 50%;
    animation: blink 0.6s infinite alternate;
}
@keyframes blink {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.hero-aboutA p{
    text-align: justify;
    line-height: 1.8;
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}
.skills-section{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: trans 1.9s ease-in;
}
@keyframes trans {
    from{transform: translateY(15px); opacity: 0;}
    to{transform: translateY(0);}
}
.skills-section h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    display: inline-block;
    position: relative;
}
.skills-section h3::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    bottom: -10px;
    border-radius: 20px;
    background-color: blue;
}
.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    
}

.skill-item{
    background-color: #f5f7fa;
    padding: 1.5rem;
    border-radius: 10px;
    overflow:hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: 1s ease;
    text-align: center;
}
.skill-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    background:linear-gradient(90deg, rgba(39, 39, 255, 0.808),rgba(0, 60, 255, 0.288));
    left: -100%;
    transition: left 0.7s;
    border-radius: 50%;

}
.skill-item:hover::before{
    left: 100%;
}
.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.322);
}
.skill-icon {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: rgba(0, 0, 255, 0.815);
}
.skill-name{
    font-weight: 600;
    margin-bottom: 1rem;
}
.skill-level{
    background-color: #e4e2e2cc;
    height: 5px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.skill-level::after{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    background-color: blue;
    animation: bar 9s alternate-reverse;
}

.skill-item:nth-child(1) .skill-level::after{width:90%; }
.skill-item:nth-child(2) .skill-level::after{width: 80%; }
.skill-item:nth-child(3) .skill-level::after{width: 75%; }
.skill-item:nth-child(4) .skill-level::after{width: 70%; }
.skill-item:nth-child(5) .skill-level::after{width: 90%; }
.skill-item:nth-child(6) .skill-level::after{width: 96%; }
@keyframes bar {
    0%{width: -100%;}
    100%{width: 0;}
}


/* ====================== SERVICES SECTION ====================== */



.SectionS{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.hero-head {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 8rem 2rem 3rem 2rem;
    background: linear-gradient(135deg, rgba(0, 4, 255, 0.39), rgb(6, 6, 128));
    margin-bottom: 3rem;
    margin-right: 20px;
    clip-path: polygon(0 1%, 100% 0, 100% 82%, 0 99%);
    /* border-radius: 50%; */
}
.hero-head span{
    color: rgb(255, 75, 75);
    display: inline-block;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
.hero-head h1{
    font-size: 2.9rem;
}
.services{
    max-width: 1200px;
    margin: 0 auto 5rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}
.services i {
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:rgba(80, 141, 255, 0.123);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    
}
.frontEnd{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    padding: 2rem;
    border-radius: 15px;
    overflow: hidden;
}
.frontEnd i{
    color: blue;
}
.frontEnd h3{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.4;
}
.backEnd{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    padding: 2rem;
    border-radius: 15px;
    overflow: hidden;
}
.backEnd::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 6px;
    width: 100%;
    background-color:rgb(127, 5, 175);
}
.backEnd .View-tools button{
    background-color:rgba(127, 5, 175, 0.822) ;
    box-shadow: -1px 3px 6px rgba(127, 5, 175, 0.445);
}
.backEnd .line{
    background-color:rgb(127, 5, 175) ;
}
.backEnd i{
    background-color: rgba(134, 8, 134, 0.089);
    color: purple;
}
.backEnd h3{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.4;
}
.flutter{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    padding: 2rem;
    border-radius: 15px;
    overflow: hidden;
}

.flutter .line{
    background-color:rgba(241, 34, 34, 0.863);
}
.flutter i{
    background-color:rgba(241, 34, 34, 0.089);
    color: rgba(255, 0, 0, 0.692);
}
.flutter .View-tools button{
    background-color:rgba(241, 34, 34, 0.863);
    box-shadow: 0 6px 15px rgba(248, 41, 52, 0.4);
}
.flutter::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 6px;
    width: 100%;
    background-color:rgba(241, 34, 34, 0.863);
}
 .flutter h3{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.4;
}
 .flutter p{
    font-size: 1.19rem;
    line-height: 1.8;
}
.backEnd p{
    font-size: 1.19rem;
    line-height: 1.6;
}
.frontEnd p{
    font-size: 1.19rem;
    line-height: 1.6;
}
.frontEnd::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 6px;
    width: 100%;
    background-color:rgb(0, 89, 255);
}
.frontEnd .View-tools button:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(255, 58, 255, 0.4);
    background-color:rgb(127, 5, 175);
}
.flutter .View-tools button:hover{
    transform: translateY(-3px);
    
    box-shadow: 0 6px 15px rgba(58, 134, 255, 0.4);
    background-color:rgb(0, 89, 255);
    
}
.backEnd .View-tools button:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(248, 41, 52, 0.4);
    background-color:rgba(241, 34, 34, 0.863);
}
.line{
    width: 60px;
    height: 4px;
    background-color: rgb(85, 101, 247);
    border-radius: 20px;
    margin: 15px auto 20px auto;  
}
.View-tools{
    margin-top: 20px;
}
.View-tools button{
    transition: ease 0.5s;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: rgb(0, 89, 255);
    color: #ffffff;
    box-shadow: -1px 3px 6px rgba(128, 128, 243, 0.685);
    position: relative;
    overflow: hidden;
}
 .View-tools button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: left 0.5s;
}
.View-tools button:hover::before{
    left: 100%;
}
.View-tools button:hover{
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 7vh;
    background-color: rgba(1, 1, 32, 0.87);
    color: #fff;
    position: relative;
    overflow: hidden;
}
footer .footer-name{
    color: #fff;
    padding-bottom: 20px;
    
    font-size: 1.5rem;
}
footer .footer-name span{
    color: #0b41d6;
    font-size: 1.9rem;
    display: inline-block;
    animation: colorChange 3s infinite alternate;
}
footer p{
    font-size: 1rem;
}
footer::before{
    content: "";
    width: 100%;
    height: 5px;
    background:linear-gradient( to top right, rgba(219, 88, 88, 0.61), blue);
    top: 0;
    left:0;
    position: absolute;
    animation: footr 1.5s ease-in infinite;
}
@keyframes footer {
    from{transform: scale(0); background-color: #ffffff8f;}
    to{transform: scale(1); background-color: #ffffff7a;}
}
/* MODAL DESIGNS */
/* MODAL OPENS  */
.close{
   animation: close 2s ease-in-out;
}
@keyframes close {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.open{
    animation: modalO 1s ease-in-out;
}
@keyframes modalO {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
}
.modal-content{
    overflow: auto;
    border-radius: 20px;
    background-color: #fff;
    padding: 2.8rem;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    position: relative;
}
.modal-content span{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    transition: ease-in-out 0.5s;
}
.modal-content span:hover{
    cursor: pointer;
    transform: rotate(90deg);
}
.modal-content h3{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
     font-family: 'Poppins', sans-serif;
    color: #3168ffe1;
    text-shadow: 0 0 5px #3168ff;
    animation: glows 1.3s ease-in-out infinite alternate-reverse;
}
@keyframes glows {
    0%{text-shadow: 0 0 10px #3168ff;}
    100%{text-shadow: 0 0 20px#3168ff;}
}
.modal-content p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;    
    font-size: 1.2rem;
}
.tools-list{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    opacity: 1;
    overflow: auto;
}

.tools{
    animation: tool 2s ease-in-out ;
}
@keyframes tool {
    0%{transform: translateX(-40px); opacity: 1;}
    100%{transform: translateX(0); opacity: 1;}

}
.tool-item{
    padding: 1rem;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(233, 233, 233, 0.377);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
    transition:ease-in-out 0.5s;
}
.tools-list div:hover{
    box-shadow: 0 5px 20px rgba(37, 37, 37, 0.192);
    background-color: #c9c9c967;
}


.tools-list i{
    font-size: 1.2rem;
    animation: ispin 3s infinite linear;
}
@keyframes ispin {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
#backend-modal{
    display: none;
}
#flutter-modal{
    display: none;
}
 /* ====================== CONTACT STYLE ================================== */

 .sectionC{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 9rem 3rem 5rem 3rem;
}
.contactMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contactMe h1::before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 50%;
    height: 3px;
    left: 5rem;
    background: linear-gradient(120deg,blue,rgb(181, 181, 255));

}
.contactMe h1{
    font-size: 3.5rem;
    display: inline-block;
    position: relative;
    color: rgba(0, 0, 0, 0.815);
    margin-bottom: 1rem;
    
}
.contactMe h1 span{
    display: inline-block;
    background: linear-gradient(110deg, rgba(0, 0, 255, 0.856) ,rgb(194, 194, 255));
    background-clip: text;
    color: transparent;
    animation: ContactMe 1s infinite alternate;
}
@keyframes ContactMe {
    from{transform: translateX(10px);}
    to{transform: translateX(0);}
}

.contactMe p{
    opacity: 0.7;
    color: rgb(0, 7, 44);
}
.contactContainer{
    display: flex;
    padding-top:3rem ;
    gap: 3rem;
    width: 100%;
}
.contactForm-container, .ContactInfo{
    width: 100%;
}
.ContactInfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.Contact-Card{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: #fff;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    line-height: 2.2;
    transition: ease-in-out 0.3s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.116);
}
.Contact-Card::before{
    position: absolute;
    content: "";
    left: 0;
    width: 5px;
    background: linear-gradient(110deg, rgba(0, 0, 255, 0.856) ,rgb(255, 194, 212));
    height: 100%;
}
.Contact-Card:hover{
    transform: scale(1);
    box-shadow: 0 13px 23px rgba(0, 0, 0, 0.247);
}
.Contact-details h3{
    font-style: bold;
}
.Contact-details p{
    opacity: 0.6;
}
.Contact-details a{
    text-decoration: none;
    color: rgb(14, 125, 133);
    transition: ease-in-out 0.3s;
}
.Contact-details a:hover{
    text-decoration: underline;
    color: rgba(137, 43, 226, 0.733);
}
.Contact-Icon{
    color: #fff;
    background: linear-gradient(120deg, blue,violet);
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    display: flex;
    width: 60px;
    height:60px;
    border-radius: 50%;
}
.FollowMe{
    line-height: 3;
}
.fa-square-whatsapp{
     transition: ease-in 0.5s;
}
.fa-square-whatsapp:hover{
    color: green;
}
.fa-facebook{
    transition: ease-in 0.5s;
}
.fa-facebook:hover{
    color: blue;
}
.fa-square-instagram{
    transition: ease-in 0.5s;
}
.fa-square-instagram:hover{
    color: rgb(226, 43, 128);
}
.fa-linkedin{
    transition: ease-in 0.5s;
}
.fa-linkedin:hover{
    color: rgb(81, 81, 255);
}
.fa-envelope{
    transition: ease-in 0.5s;
}
.fa-envelope:hover{
    color: blueviolet;
}
.FollowMe h3{
    position: relative;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.FollowMe h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 5rem;
    background: linear-gradient(120deg, blue,violet);
    height: 3px;
}
.FollowMeIcon{
    display: flex;
    gap: 2rem;
    transition: ease-in-out 2s;
    font-size: 1.4rem;
}
.FollowMeIcon a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: rgba(0, 0, 0, 0.801);
    border-radius: 50%;
    height: 50px;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.192);
    animation: ibounce 2s infinite ease-in-out;
    transition: ease-in-out 2s;
    
}
.FollowMeIcon a:nth-child(1) {animation-delay: 0.1s;}
.FollowMeIcon a:nth-child(2) {animation-delay: 0.2s;}
.FollowMeIcon a:nth-child(3) {animation-delay: 0.3s;}
.FollowMeIcon a:nth-child(4) {animation-delay: 0.4s;}
@keyframes ibounce {
    0%,100%{transform: translateY(0);}
    50%{transform: translateY(-3px);}
}
.Contact-form{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.116);
    background: #fff;
    height: 100%;
    padding: 2.5rem;
    width: 100%;
    border-radius: 20px;
}
.formGroup{
    margin-bottom: 1.5rem;
}

.formGroup label{
    display: block;
    margin-bottom: 0.8rem;
}
.formGroup input{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 3px solid  #c9cfd828;
    background-color: #c9cfd828;
    padding: 20px;
}
input, textarea{
    font-size: 18px;
    transition: ease-in-out 0.5s;
}
input:focus, textarea:focus{
    border-color: rgb(0, 2, 128);
    outline: none;
    background: rgb(255, 255, 255);
     box-shadow: 0 5px 20px rgba(100, 100, 255, 0.247);
}
.formGroup label{
    color: rgba(0, 0, 0, 0.89);
    font-size: 1.1rem;
    font-weight: bold;
}
.formGroup label span{
    color: rgba(255, 0, 0, 0.644);
}
.formGroup textarea{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    border: 3px solid  #c9cfd828;
    background-color: #c9cfd828;
    padding: 20px;
}


.Submit-Button{
    display: inline-block;
    width: 100%;
    padding: 1rem;
    position: relative;
    border-radius: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    overflow: hidden;
    transition: all 1s;
    box-shadow: 0 10px 20px rgba(127, 127, 255, 0.61) ;
    background: linear-gradient(120deg, rgba(52, 52, 255, 0.747),rgb(200, 132, 255));

}
.Submit-Button:hover{
    background: linear-gradient(120deg,rgb(62, 62, 255),rgb(255, 38, 38));
    transform: translateY(-8px);
    box-shadow: 10px 10px 30px rgba(50, 17, 235, 0.315);
}
.Submit-Button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent,#ffffff5d,transparent);
    left: -100%;
    transition: left 1s ;
    top: 0;
}
.Submit-Button:hover::before{
    left: 100%;
}
.formGroup input::placeholder{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.356);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.formGroup textarea::placeholder{
     font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.356);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.map-section{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;
    align-items: center;
}
.map-section h3{
    font-size: 1.7rem;
    position: relative;
}
.map-section h3::before{
    content: "";
    position:absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
    height: 3px;
    background: linear-gradient(120deg, rgba(52, 52, 255, 0.747),rgb(200, 132, 255));
}
.map-container{
    background-color: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 1.5rem;
}
.map-placeholder{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 3.5rem;
    background: linear-gradient(90deg, blue,rgb(195, 130, 238));
}
.map-placeholder i{
    padding-bottom: 6.5rem;
    font-size: 4rem;
    color: #fff;
}
.map-placeholder h3{
    position: absolute;
    right: 3rem;
    top: 50%;
    font-size: 2rem;
    font-style: bold;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.map-placeholder p{
    color: #fff;
}


 /* ===================== RESPONSIVE MEDIA QUERIES ===================== */

@media screen and (max-width:1200px) {
    nav{
        gap: 40em;

    }
    .sectionH{
        padding: 5em 50px;
        gap: 2rem;
        
    }
}
/* For screens up to 1024px (Tablets) */
@media screen and (max-width: 1024px) {
    nav{
        gap: 20em;
    } 
    .Hero-secOne h2{
        font-size: 40px;
    }
    .sectionH{
        padding: 8em 50px;
        gap: 30px;
    }
    .Hero-secTwo{
        width: 700px;
    }
    .Hero-secTwo img{
        width: 100%;
    }
     .hero-imgA{
        width: 25rem;
        order: 1;
    }
    .hero-imgA img{
        width: 100%;
    }
    .sectionA{
        flex-direction: column;
    }
}

/* For screens up to 768px (Small Tablets & Large Phones) */
@media screen and (max-width: 768px) {
   nav{
    font-size: 13px;
    gap: 10em;
   }
   .sectionH{
        flex-direction: column;
    }
    .Hero-secTwo{
        width: 400px;
    }
    #download{
        left: 25%;
    }
    .Hero-secTwo{
        order: 1;
    }
    .Hero-secOne{
        order: 2;
    }
    .services{
        grid-template-columns: 1fr;
    }
    .contactContainer{
        flex-direction: column;
    }
}

/* For screens up to 480px (Mobile Phones) */
@media screen and (max-width: 480px) {
   nav{
    font-size: 10px;
    gap: 5em;
   }
   .sectionH{
    padding: 2rem;
   }
   .Hero-secTwo{
    width: 90%;
   }
   .Hero-secOne h2{
    font-size: 35px;
   }
   .hero-imgA{
    width: 90%;
   }
   .contactMe h1{
    font-size: 50px;
   }
   .sectionC{
    padding: 2rem;
   }
   .Contact-Card{
    padding: 2rem;
   }
   .Contact-Card i{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }
}